<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/site.css">
  <script src="js/test.js"></script>
</head>

<body>
  <div class="container" role="main">
  
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h1>Open Source Chess</h1></div>
          <div class="panel-body">
            <script>alert('Hi');</script>
      <p>The title</p>
{{ content }}
          </div>
      </div>
    </div>
  </div>
</body>
</html>
