<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/site.css"/>
  <link rel="stylesheet" type="text/css" href="styles/chessboard-0.3.0.css" />
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/chessboard-0.3.0.js"></script>
  <script src="js/chess.js"></script>
</head>

<body>
  <div class="container" role="main">
  
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h1>Open Source Chess</h1></div>
          <div class="panel-body">
{{ content }}
          </div>
      </div>
    </div>
  </div>
</body>
</html>
